<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/user_layout}">
    <div layout:fragment="content">
      <div class="page-wrapper auth">
        <div class="page-inner bg-brand-gradient">
            <div class="page-content-wrapper bg-transparent m-0">
              <div class="flex-1" style="background: url(/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
                  <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                      <div class="row">
                          <div class="col-xl-12">
                              <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                                  "My dog ate my password"
                                  <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                                      Not a problem, happens to the best of us. Just use the form below to reset it!
                                  </small>
                              </h2>
                          </div>
                          <div class="col-xl-6 ml-auto mr-auto">
                              <div class="card p-4 rounded-plus bg-faded">
                                  <form id="js-login" novalidate="" action="intel_analytics_dashboard.html">
                                      <div class="form-group">
                                          <label class="form-label" for="lostaccount">Your username or email</label>
                                          <input type="email" id="lostaccount" class="form-control" placeholder="Recovery email" required>
                                          <div class="invalid-feedback">No, you missed this one.</div>
                                          <div class="help-block">We will email you the instructions</div>
                                      </div>
                                      <div class="row no-gutters">
                                          <div class="col-md-4 ml-auto text-right">
                                              <button id="js-login-btn" type="submit" class="btn btn-danger">Recover</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="d-block text-center text-white">
                      2024 © SmartAdmin by&nbsp;<a href='https://www.gotbootstrap.com' class='text-white opacity-40 fw-500' title='gotbootstrap.com' target='_blank'>gotbootstrap.com</a>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</html>